
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat' , sans-serif;
}

img, svg{
  vertical-align: baseline;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#main-border{
  margin: 30px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #FFAED9 -39.29%, #6AB2FF 136.16%);
  border-image-slice: 1;
}
.main-border-top-text{
  background:white;
  padding-left: 140px;
  padding-right: 140px;
  position: absolute;
  top: -20px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.7em;
}
.main-border-bottom-text{
  background:white;
  padding-left: 140px;
  padding-right: 140px;
  position: absolute;
  bottom: -15px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5em;
}
.content{
  position: relative;
  height: 93vh;
  max-width: calc(100vmin * 21 / 9);
  width: 100vw;
  overflow: hidden;
  padding-top: 50px;
}
.left-side{
  position: relative;
  transform: skewX(-45deg);
  height: 93vh;
}
.left-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 93vh;
  width: 49.8vw;
  background-color: white;
  z-index: -1;
}
.left-overlay2{
  position: absolute;
  top: 0;
  left: 0;
  height: 93vh;
  width: 49.8vw;
  background: linear-gradient(180deg, #FFAED9 -39.29%, #6AB2FF 136.16%);
  z-index: -2;
}
.right-overlay{
  position: absolute;
  top: 0;
  right: 0;
  height: 93vh;
  width: 49.8vw;
  background-color: white;
  z-index: -1;
  opacity: 0;
}
.right-overlay2{
  position: absolute;
  top: 0;
  right: 0;
  height: 93vh;
  width: 49.8vw;
  background: linear-gradient(180deg, #FFAED9 -39.29%, #6AB2FF 136.16%);
  z-index: -2;
  opacity: 0;
}
.right-close-overlay{
  position: absolute;
  top: 0;
  right: 0;
  height: 93vh;
  width: 40vw;
  background-color: white;
  z-index: -1;
  opacity: 0;
}
.left-close-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 93vh;
  width: 40vw;
  background-color: white;
  z-index: -1;
  opacity: 0;
}
.uiux-background-after{
  background-image: url(/images/uiux-bg-min.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 5vw;
  opacity: 0;
}
.fe-background-after{
  background-image: url(/images/frontend-bg-min.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: -27vw;
  opacity: 0;
}
.right-side{
  z-index: 0;
  position: relative;
  height: 93vh;
}
.uiux-bigpicture{
  position: absolute;
  top: 8vh;
  left: 12vw;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-bigpicture.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  height: 58%;
  width: 58%;
}
.uiux-bigpicture-colored{
  position: absolute;
  top: 8vh;
  left: 12vw;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-bigpicture-colored.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  height: 58%;
  width: 58%;
  opacity: 0;
  cursor: pointer;
}
.uiux-background{
  background-image: url(/images/uiux-initbg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 12vw;
  transform: skewX(45deg);
  margin-left: -76px;
  cursor: pointer;
}
.radiant-purple{
  background: radial-gradient(50% 50% at 50% 50%, #DBB0E3 0%, rgba(218, 176, 227, 0) 80.73%);
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -4vh;
  left: 3vw;
  transform: skewX(45deg);
  margin-left: -76px;
  cursor: pointer;
  opacity: 0;
}
.ui-detail{
  transform: skewX(45deg);
  position: absolute;
  top: 60vh;
  left: 22vw;
  opacity: 0;
}
.ui-icons{
  opacity: 0;
}
.fe-detail{
  position: absolute;
  top: 60vh;
  right: 4vw;
  opacity: 0;
}
.fe-icons{
 opacity: 0;
}
.ui-btn{
  transform: skewX(45deg);
  position: absolute;
  top: 53vh;
  left: 40vw;
  white-space: nowrap;
  background: linear-gradient(90deg, #FFAED9 -39.29%, #6AB2FF 136.16%);
  border-radius: 15px;
  border: 1px solid;
  border-color: transparent;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  padding: 7px 20px;
  opacity: 0;
}
.ui-btn:hover{
  border: 1px solid;
  background: #FFFFFF;
  color: #FFAED9;
  border-color: #FFAED9;
}
.ui-btn:active{
  background: #dbecff !important;
  color: #FFAED9 !important;
  border-color: #FFAED9 !important;
}

.fe-btn{
  position: absolute;
  top: 49vh;
  left: 24vw;
  white-space: nowrap;
  background: linear-gradient(90deg, #FFAED9 -39.29%, #6AB2FF 136.16%);
  border-radius: 15px;
  border: 1px solid;
  border-color: transparent;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  padding: 7px 20px;
  opacity: 0;
}
.fe-btn:hover{
  border: 1px solid;
  background: #FFFFFF;
  color: #FFAED9;
  border-color: #FFAED9;
}
.fe-btn:active{
  background: #dbecff !important;
  color: #FFAED9 !important;
  border-color: #FFAED9 !important;
}
.radiant-blue{
  background: radial-gradient(50% 50% at 50% 50%, #8FB2F6 0%, rgba(145, 178, 246, 0) 80.73%);
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5vh;
  left: 4vw;
  cursor: pointer;
  opacity: 0;
}
.fe-bigpicture{
  position: relative;
  top: 18vh;
  left: 13vw;
  z-index: 1;
  overflow: hidden;
  background-image: url(/images/frontend-bigpicture.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  height: 62%;
  width: 62%;
  cursor: pointer;
}
.fe-bigpicture-colored{
  position: absolute;
  top: 18vh;
  left: 13vw;
  z-index: 2;
  overflow: hidden;
  background-image: url(/images/frontend-bigpicture-colored.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  height: 62%;
  width: 62%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.fe-background{
  background-image: url(/images/frontend-initbg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5vh;
  left: -6vw;
  
}
.fe-background2{
  background-image: url(/images/frontend-initbg2.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5vh;
  left: -6vw;
  
}
.slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5vh;
}
.elipse{
  width: 8%;
  height: 14%;
  background-image: url(/images/slider.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 5;
  position: relative;
  top: 34.5vh;

}
.line{  
  position: absolute;
  top: 0;
  width: 3px;
  height: 89%;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #FFAED9 -39.29%, #6AB2FF 136.16%);
  border-image-slice: 1;
  background: linear-gradient(180deg, #FFAED9 -39.29%, #6AB2FF 136.16%);
  z-index: 4;
  transform: scale(1.4) rotate(45deg);
}

.ui-mockup{
  opacity: 20%;
}
.fe-mockup{
  opacity: 20%;
}
.ui1{
  position: absolute;
  top: 0;
  left: 70%;
  height: 23%;
  width: 23%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-1.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.ui2{
  position: absolute;
  top: 10%;
  left: 65%;
  height: 29%;
  width: 29%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-2.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.ui3{
  position: absolute;
  top: 0;
  left: 39%;
  height: 23%;
  width: 23%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-3.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.ui4{
  position: absolute;
  top: 0;
  left: 5%;
  height: 20%;
  width: 20%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-4.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.ui5{
  position: absolute;
  top: -3%;
  left: -15%;
  height: 27%;
  width: 27%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-5.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.ui6{
  position: absolute;
  top: 27%;
  left: 15%;
  height: 35%;
  width: 35%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-6.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.ui7{
  position: absolute;
  top: 65%;
  left: 50%;
  height: 20%;
  width: 20%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-7.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.ui8{
  position: absolute;
  top: 70%;
  left: 67%;
  height: 17%;
  width: 17%;
  transform: skewX(45deg);
  margin-left: -76px;
  background-image: url(/images/uiux-8.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.fe1{
  position: absolute;
  top: 3%;
  left: 65%;
  height: 25%;
  width: 25%;
  background-image: url(/images/fe-1.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.fe2{
  position: absolute;
  top: 55%;
  left: 60%;
  height: 30%;
  width: 30%;
  background-image: url(/images/fe-2.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.fe3{
  position: absolute;
  top: 75%;
  left: 60%;
  height: 25%;
  width: 25%;
  background-image: url(/images/fe-3.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.fe4{
  position: absolute;
  top: 65%;
  left: 0%;
  height: 30%;
  width: 30%;
  background-image: url(/images/fe-4.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.fe5{
  position: absolute;
  top: 12%;
  left: 35%;
  height: 27%;
  width: 27%;
  background-image: url(/images/fe-5.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
@media screen and (max-width: 1024px){
  .fe-background{
    top: 14vh;
    left: -9vw;
  }
  .fe-background2{
    top: 14vh;
    left: -9vw;
  }
  .uiux-background{
    top: 14vh;
    left: 25vw;
  }
  .uiux-bigpicture{
    top: 16vh;
    left: 15vw;
  }
  .ui-btn{
    font-size: medium;
    line-height: 22px;
    padding: 10px 15px;
    top: 48vh;
  }
  .fe-btn{
    font-size: medium;
    line-height: 22px;
    padding: 10px 15px;
    top: 40vh;
    left: 20vw;
  }
}
.transition-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 99.14vw;
  height: 97vh;
  overflow: hidden;
}
.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 1001;
}
.shape-overlays.is-opened {
	pointer-events: auto;
}
.uiux-container{
  position: relative;
  overflow: hidden;
}
.fe-container{
  position: relative;
  overflow: hidden;
  opacity: 0;
}
.index-container{
  position: relative;
  overflow: hidden;
}
.intro-transition{
  opacity: 0;
  position: relative;
}
.intro-transition2{
  opacity: 0;
}
.intro-transition3{
  opacity: 0;
}
.intro-transition4{
  opacity: 0;
}
.navbar-container{
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  position: relative;
}
.navbar{
  backdrop-filter: blur(5px);
}
#fe-navbar{
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
}
.navbar-brand{
  color: #3ca89c;
}
#fe-brand{
  color: #f00;
}
.navbar-brand:hover{
  color: #3ca89c;
}
.nav-link{
  color: #a16dbe;
}
.nav-link:hover{
  color: #d52ba0;
}
#fe-link{
  color: #f00;
}
#fe-link:hover{
  color: rgb(194, 0, 0);
}
.blur1{
  width: 100%;
  backdrop-filter: blur(4.5px) !important;
  padding-bottom: 0.05rem;
}
.blur2{
  width: 100%;
  backdrop-filter: blur(4px) !important;
  padding-bottom: 0.05rem;
}
.blur3{
  width: 100%;
  backdrop-filter: blur(3.5px) !important;
  padding-bottom: 0.05rem;
}
.blur4{
  width: 100%;
  backdrop-filter: blur(3px) !important;
  padding-bottom: 0.05rem;
}
.blur5{
  width: 100%;
  backdrop-filter: blur(2.5px) !important;
  padding-bottom: 0.05rem;
}
.blur6{
  width: 100%;
  backdrop-filter: blur(2px) !important;
  padding-bottom: 0.05rem;
}
.blur7{
  width: 100%;
  backdrop-filter: blur(1.5px) !important;
  padding-bottom: 0.05rem;
}
.blur8{
  width: 100%;
  backdrop-filter: blur(1px) !important;
  padding-bottom: 0.05rem;
}
.ui-brand{
  font-size: 20px;
  font-weight: 400;
}
.btn-home{
  cursor: pointer;
}
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.content-ui{
  padding-top: 100px;
}
.uiux-hero{
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  font-size: 6.75em;
  line-height: 1em;
  background: linear-gradient(134deg, #35ac9a -0.14%, #b860ba 47.81%, #9674c1 97.48%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
.uiux-hero2{
  background: linear-gradient(134deg, #35ac9a -0.14%, #b860ba 47.81%, #9674c1 97.48%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  max-width: 700px;
  margin-bottom: 5em;
}
.uiux-hero3{
  background: linear-gradient(134deg, #35ac9a -0.14%, #b860ba 47.81%, #9674c1 97.48%);
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 0px;
  max-width: 600px;
  padding-bottom: 0px;
  text-align: justify;
}
.hero3-text{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.trigger1{
  opacity: 0;
}
.trigger2{
  opacity: 0;
}
.trigger3{
  opacity: 0;
}
.trigger4{
  opacity: 0;
}
.project-wrap{
  background: linear-gradient(179deg, #35ac9a 30.14%, #b860ba 75.81%, #9674c1 97.48%);
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: -200px;
}
.project-text{
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  font-size: 5.75em;
  word-wrap: break-word;
  padding-top: 300px;
  max-width: 135px;
  line-height: 100%;
  border-right: 10px solid transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.project-line{
  width: 10px;
  height: inherit;
  background: linear-gradient(179deg, #35ac9a 30.14%, #b860ba 75.81%, #9674c1 97.48%);
}
.projects{
  padding-top: 300px;
  padding-left: 48px;
}
.project{
  position: relative;
  margin-bottom: 10em;
}
.project-img{
  aspect-ratio: 16 / 9;
  width: 900px;
  height: auto;
  filter: brightness(50%);
  transition: 1s ease-out;
  cursor: pointer;
}
.project-img:hover{
  filter: brightness(75%);
  scale: 1.05;
}
.project-title{
  position: absolute;
  bottom: 10%;
  right: -20%;
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  font-size: 4.75em;
  color: white;
  line-height: 1.2em;
  max-width: 80%;
}
.project-title-shadow{
  position: absolute;
  bottom: 9%;
  right: -21%;
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  font-size: 4.75em;
  color: #49303f;
  line-height: 1.2em;
  max-width: 80%;
}
.indonesia-wrapper{
  position: relative;
}
.indonesia1{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0;
}
.indonesia2{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.blob-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  filter: blur(50px);
}
.blob1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 35%;
  scale: 1.75;
  z-index: -2;
}
.blob2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  left: -20%;
  z-index: -2;
  scale: 1.5;
}
.blob3{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 85%;
  left: -20%;
  z-index: -2;
  scale: 1.5;
  opacity: 0.5;
}
.footer{
  background: linear-gradient(318deg, #4dffe5 -0.14%, #fc84ff 47.81%, #c69aff 97.48%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.get-in-touch{
  margin-top: .25em;
  font-family: 'Monument Extended', sans-serif;
  font-weight: 800;
  text-align: center;
  line-height: .85;
  font-size: 8.75em;
  justify-content: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
#get-in-touch-btn:hover{
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  color: #d52ba0;
}
.footer-col{
  flex-basis: calc(100% / 3);
  padding: 0 calc(2vw * .5);
  font-size: .8em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-end-col{
  flex-direction: row;
  align-items: flex-end;
}
.footer-text{
  font-size: 1.5em;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.footer-text:hover{
  color: #d52ba0;
}
.invert{
  filter: invert(1);
  mix-blend-mode: exclusion;
}
.invert-2{
  mix-blend-mode: exclusion;
}
#jenius{
  background: url(/images/jenius.png) no-repeat;
  background-size: contain;
}
#survea{
  background: url(/images/survea.png) no-repeat;
  background-size: contain;
}
#gpu{
  background: url(/images/gpu.png) no-repeat;
  background-size: contain;
}
#covid{
  background: url(/images/covid.png) no-repeat;
  background-size: contain;
}
#Matrix{
 
}
.matrix-transition{
  position: absolute;
  top: 0;
  left: 0;
}
.matrix-background{
  opacity: 0;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
}
.opaque{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.parallax-container{
  opacity: 0;
}
.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -5%;
  left: 0%;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  scale: 1.25;
}
.parallax__cover {
  background: black;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}
.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__2 {
  transform: translateZ(-200px) scale(3);
}
.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5);
}
.parallax__layer__4 {
  transform: translateZ(-100px) scale(2);
}
.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5);
}
.parallax__layer__6 {
  transform: translateZ(0px) scale(1);
}

.fe-hero{
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  font-size: 6.75em;
  line-height: 1em;
  color: rgb(43, 43, 43);
  
}
.fe-text-hero{
  color: #ff2f2f;
  font-size: 9em;
  text-shadow: 1px 0px 4px #ff2f2f, 2px 0px 4px #ff2f2f, 3px 0px 4px #ff2f2f, 2px 0px 3px #f00, 2px 3px 15px #f00, 2px 0px 15px, 5px 0px 50px, 20px 0vw 200px #f00, 40px 0vw 125px #f00;
}
.neon-lightbar{
  width: 100%;
  height: 2px;
  background-color: #ff2f2f;
  box-shadow: 1px 0px 4px #ff2f2f, 2px 0px 4px #ff2f2f, 3px 0px 4px #ff2f2f, 2px 0px 3px #f00, 2px 3px 15px #f00, 2px 0px 15px, 5px 0px 50px, 20px 0vw 200px #f00, 40px 0vw 125px #f00;
  margin-top: 12px;
  margin-bottom: 24px;
}
.fe-text-introduction{
  text-align: justify;
}
.fe-heading{
  color: #ff2f2f;
  font-size: 5em;
  text-shadow: 1px 0px 4px #ff2f2f, 2px 0px 4px #ff2f2f, 3px 0px 4px #ff2f2f, 2px 0px 3px #f00, 2px 3px 15px #f00, 2px 0px 15px, 5px 0px 50px, 20px 0vw 200px #f00, 40px 0vw 125px #f00;
}
@media screen and (max-width: 1024px){
  .fe-text-hero{
    font-size: 7.5em;
  }
  .fe-heading{
    font-size: 4em;
  }
}
.color-red{
  color:#f00;
}
.mt-n1 {
  margin-top: -0.5rem !important;
}
.mb-n1 {
  margin-bottom: -0.5rem !important;
}
#cursor{
  margin-left: 2px;
  font-size: x-large;
  color: #f00;
}
#text1{
  font-size: x-large;
  color: #f00;
}
#text2{
  font-size: x-large;
  color: #f00;
}
#tech{
  opacity: 0;
}
.tech-stack-wrapper{
  position:relative;
}
.tech1{
  color: #f00;
  position:absolute;
  top: 40%;
  left: 20%;
  font-size:xx-large;
  animation: grow 3s linear 0s infinite;
}
.tech2{
  color: #f00;
  position:absolute;
  top: 32%;
  left: 45%;
  font-size:xx-large;
  animation: grow 3s linear 1s infinite;
}
.tech3{
  color: #f00;
  position:absolute;
  top: 50%;
  left: 50%;
  font-size:xx-large;
  animation: grow 3s linear 2s infinite;
}
.tech4{
  color: #f00;
  position:absolute;
  top: 59%;
  left: 20%;
  font-size:xx-large;
  animation: grow 3s linear 3s infinite;
}
.flicker-slow{
  animation: flicker 3s linear infinite;
}
.flicker-fast{
  animation: flicker 1s linear infinite;
}
@keyframes grow {
  0% {scale: 1; color: #f00;}
  25% {scale: 1.1;}
  50% {scale: 1.2; color: #700;}
  75% {scale: 1.1;}
  100% {scale: 1; color: #f00;}
}
@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		/* text-shadow: none; */
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}
.lottie1{
  margin-top: -25%;
  margin-left: -20%;
  height: 125%;
  width: 125%;
}